@import '../../styles/utils/';

.homepage {
  // &__container {
  //   @include content-padding-inline;
  //   margin: 0 auto;
  //   padding-block: 88px;
  //   max-width: 1400px;

  //   @include on-desktop {
  //     padding-block: 96px;
  //   }
  // }

  &__main-section {
    border-bottom: 1px solid $gray-60-color;
  }

  &__title-box {
    width: 300px;
    height: 424px;
    background: url('../../../public/images/decor/glove.png') left top / 100%
      100% no-repeat;
    margin: 0 auto;
    padding: 90px 0 0 80px;
    // text-align: center;
    // padding-left: 38px;
    // margin-bottom: 89px;

    @include on-tablet {
      margin-bottom: 160px;
      width: 433px;
      height: 612px;
      padding: 130px 0 0 100px;
      margin-bottom: 40px;
    }

    @include on-desktop {
      // width: 615px;
      // height: 679px;
      // padding: 227px 0 0 121px;
    }
  }

  &__main-info {
    @include page-grid;

    margin-top: -61px;
    justify-content: space-between;
    // justify-items: center;
    // margin-bottom: 104px;

    @include on-tablet {
      margin-top: -175px;
      // margin-bottom: 160px;
    }

    @include on-desktop {
      margin-top: -190px;
    }
  }

  &__main-text {
    font-family: $second-font-family;
    // justify-items: start;
    font-size: 20px;
    margin-bottom: 48px;

    @include on-tablet {
      margin-bottom: 0;
    }

    @include on-desktop {
      // grid-column: span 2;
    }
  }

  &__contact-button {
    display: block;

    @include on-tablet {
      &--first {
        align-self: end;
        justify-self: end;

        @include on-desktop {
          grid-column: 4/5;
        }
      }
    }

    &--second {
      margin: 0 auto;

      @include on-tablet {
        margin-right: 0;
      }
    }
  }

  &__info {
    // display: flex;
    // flex-direction: column;
    // gap: 80px;
    // margin-bottom: 104px;

    // @include on-tablet {
    //   margin-bottom: 144px;
    // }
  }

  &__info-item {
    // display: flex;
    // flex-direction: column;
    // gap: 24px;
    // @include page-grid;

    // @media (min-width: 800px) {
    //   grid-template-columns: repeat(4, 1fr);
    //   gap: 48px;
    // }
  }

  &__small-title {
    font-family: $second-font-family;
    color: $white-color;
    font-size: 24px;
    margin-bottom: 24px;
    justify-self: start;

    @include on-desktop {
      font-weight: 500;
    }
  }

  &__text {
    justify-self: start;

    @include on-desktop {
      grid-column: span 3;
      font-weight: 500;
      font-size: 16px;

      // align-items: start;
      // justify-items: start;
    }

    // @media (min-width: 800px) {
    //   grid-column: 2/5;
    // }
  }
}

.main-section {
  &__container {
    @include content-padding-inline;

    margin: 0 auto;
    padding-block: 88px 104px;
    max-width: 1400px;

    @include on-desktop {
      padding-block: 96px 160px;
    }
  }
}

.info-item {
  padding-block: 40px;
  border-bottom: 1px solid $gray-60-color;

  &__container {
    @include content-padding-inline;

    @include page-grid;

    position: relative;

    margin: 0 auto;
    max-width: 1400px;
  }

  &__content {
    &--4 {
      justify-self: start;
    }

    @include on-tablet {
      &--1,
      &--3 {
        grid-column: 1/2;
      }

      &--2,
      &--4 {
        grid-column: 2/3;
      }
    }

    @include on-desktop {
      &--1,
      &--3 {
        grid-column: 1/3;
      }

      &--2,
      &--4 {
        grid-column: 3/5;
      }
    }
  }
}

.decor {
  // display: none;

  @include on-tablet {
    &--1 {
      position: absolute;
      background-image: url('../../../public/images/decor/decor-gloves.png');
      width: 125px;
      height: 227px;
      top: -45px;
      right: 38px;
    }

    &--2 {
      position: absolute;
      background-image: url('../../../public/images/decor/decor-rope.png');
      width: 253px;
      height: 219px;
      bottom: 0;
      left: 38px;
    }

    &--4 {
      position: absolute;
      background-image: url('../../../public/images/decor/decor-bag.png');
      width: 212px;
      height: 146px;
      bottom: -52px;
      right: 50%;
    }
  }

  @include on-desktop {
    &--4 {
      right: 55%;
    }
  }
}

.contact-us {
  padding-top: 104px;
  padding-bottom: 53px;

  @include on-tablet {
    padding-bottom: 66px;
  }

  @include on-desktop {
    padding-bottom: 87px;
  }

  &__container {
    @include content-padding-inline;

    max-width: 1400px;
    margin: 0 auto;
  }
}

.title {
  font-family: $third-font-family;
  color: $second-text-color;
  // padding-left: 38px;
  text-transform: uppercase;
  font-size: 64px;

  @include on-tablet {
    font-size: 96px;
  }

  // @include on-desktop {
  //   font-size: 128px;
  // }
}
