@import '../../styles/utils/';

@import '../../styles/utils';

.certificate-window {
  position: fixed;
  width: 100vw;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(31, 31, 34, 0.8);
  opacity: 0;
  animation: certificate-window 1s linear 0s 1 normal forwards;

  &__container {
    height: 100%;
    @include content-padding-inline;

    max-width: 1400px;
    margin: 0 auto;
  }

  &__box {
    position: absolute;
    z-index: 40;
    top: 15%;
    left: 50%;
    border-radius: 12px;
    background-color: $black-color;
    border: 1px solid $main-text-color;
    padding: 24px;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    max-width: 1200px;

    & img {
      display: block;
      margin: 0 auto;

      @include on-tablet {
        padding: 10px 30px;
      }

      @include on-desktop {
        padding: 20px 60px;
      }

      @keyframes certificate {
        100% {
          opacity: 1;
        }
      }
    }

    @keyframes certificate-window {
      100% {
        opacity: 1;
      }
    }
  }

  &__close {
    cursor: pointer;
    display: flex;
    position: relative;
    align-self: end;
    justify-content: center;
    width: 24px;
    height: 24px;
		
		@include hover(opacity, 0.5);

    &::before {
      position: absolute;
      content: '';
      background: url('../../../public/images/icons/close.svg') no-repeat;
      width: 100%;
      height: 100%;
    }
  }
}
