@import '../../styles/utils/';

.faq {
	height: 1000px;
}

.block {
	padding-top: 200px;
  &__container {
    @include content-padding-inline;

    max-width: 1400px;
    margin: 0 auto;
  }
}

.question {
  width: 100%;
  white-space: nowrap;
}
