@import '../../styles/utils/';

.answer {
  display: flex;
  flex-direction: column;
  gap: 8px;
	// overflow: hidden;
  // flex-basis: 0px;
  // height: 100%;
  color: $gray-60-color;
  transform: translateY(-100%);

  @include on-desktop {
    font-weight: 500;
    flex-direction: row;
    gap: 40px;
  }

  &--open {
    // padding-bottom: 48px;
		overflow: hidden;
    animation: answer 1s linear 0s 1 normal forwards;
    // height: 100%;
  }

  @keyframes answer {
    100% {
      // height: 0;
      padding-bottom: 48px;
      transform: translateY(0);
    }
  }

  &__short {
    font-family: $second-font-family;
    font-size: 24px;

    @include on-desktop {
      flex: 0 1 50%;
      text-align: right;
    }
  }

  &__full {
    font-size: 16px;

    @include on-desktop {
      flex: 0 1 50%;
    }
  }
}

//  .answer {
//     // padding-bottom: 48px;
//     // animation: answer 2s linear 0s 1 normal forwards;
//     height: 0;

// 		&--open {
// 			height: 100%;
// 		}

//     @keyframes answer {
//       0% {
//         height: 0px;
//       }
//       100% {
//         height: 100%;
//       }
//     }
//   }
