@import '../../styles/utils/';

.admin-page {
  &__container {
    @include content-padding-inline;

    padding-top: 80px;

    max-width: 1400px;
    margin: 0 auto;
  }

  &__title {
    margin-bottom: 80px;
  }

  &__box {
    @include page-grid;
  }

  &__info {
    grid-column: span 1;
    justify-self: start;
  }

  &__content-management {
    grid-column: span 1;
    justify-self: stretch;

    @include on-tablet {
      grid-column: span 2;
    }

    @include on-desktop {
      grid-column: span 3;
    }
  }
}

.admin-page-info {
  align-self: start;
  display: flex;
  gap: 16px;
  align-items: center;

  &__logout-btn {
    padding-inline: 16px;
    align-self: flex-start;
  }
}

.admin-button {
  font-size: 18px;
  border-radius: 12px;
  border: 1px solid $main-text-color;
  color: $main-text-color;
  width: 158px;
  padding-block: 8px;
  cursor: pointer;

  @include hover(outline, 3px solid $main-text-color);

  &--logout {
    width: auto;
  }

  &--disabled {
    cursor: auto;
    opacity: 0.5;

    @include hover(outline, none);
  }
}

.admin-faqs {
  padding-block: 40px;
  border-block: 1px solid $gray-40-color;

  &__header {
    display: flex;
    justify-content: space-between;
    gap: 60px;
  }

  &__title {
    &--open {
      margin-bottom: 48px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    border: 1px solid $gray-60-color;
    margin-bottom: 48px;
  }
}

.hide-button {
  width: 24px;
  height: 24px;
  background: url('../../../public/images/icons/arrow-down.svg') no-repeat;
  transition: all 0.3s ease 0s;

  &--open {
    transform: rotate(180deg);
    transform-origin: center;
  }

  &--disabled {
    opacity: 0.5;
  }
}

.faq-item {
  display: flex;
  flex-direction: column;
  padding: 32px 24px;
  transition: all 0.3s ease 0s;

  &:not(:last-child) {
    border-bottom: 1px solid $gray-60-color;
  }

  &--disabled {
    opacity: 0.5;
  }

  &__question {
    font-size: 16px;
    text-transform: uppercase;
    color: $gray-40-color;
    border-bottom: 1px solid $gray-60-color;
    padding: 16px 8px;
  }

  &__answer {
    color: $gray-60-color;

    @include on-tablet {
      display: flex;
    }
  }

  &__short-answer {
    padding-block: 16px 8px;
    border-bottom: 1px solid $gray-60-color;
    padding: 8px;

    @include on-tablet {
      border-right: 1px solid $gray-60-color;
      flex: 0 0 222px;
    }
  }

  &__full-answer {
    padding: 8px;
    border-bottom: 1px solid $gray-60-color;

    @include on-tablet {
      padding: 8px 8px 8px 24px;
      flex: 1 1 auto;
    }
  }

  &__actions {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 24px;

    @include on-tablet {
      flex-direction: row;
      gap: 24px;
      align-self: end;
    }

    @include on-desktop {
      align-self: stretch;
      justify-content: space-between;
    }
  }

  &__delete {
    width: 158px;
  }

  &__update {
    width: 158px;
  }
}

.admin-faqs-form {
  &__title {
    font-size: 20px;
    margin-bottom: 16px;
  }

  &__label {
    display: inline-block;
    color: $gray-60-color;
    margin-bottom: 8px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    @include on-tablet {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 24px;
    }

    @include on-desktop {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 40px;
    }
  }

  &__box {
    width: 100%;

    &--question {
      grid-column: span 1;
      margin-bottom: 16px;

      @include on-tablet {
        grid-column: span 2;
      }

      @include on-desktop {
        grid-column: span 3;
      }
    }

    &--short-answer {
      grid-column: span 1;
      margin-bottom: 40px;

      @include on-tablet {
        margin-bottom: 0;
      }
    }

    &--full-answer {
      grid-column: span 1;

      @include on-desktop {
        grid-column: span 2;
      }
    }
  }

  &__item {
    width: 100%;
    font-size: 16px;
    padding: 8px;
    border-radius: 12px;
    border: 1px solid $gray-60-color;
    background-color: transparent;
    color: $gray-40-color;

    &::placeholder {
      font-size: 16px;
    }

    &--short-answer {
      @include on-tablet {
        height: 105px;
      }

      @include on-desktop {
        height: 223px;
      }
    }

    &--full-answer {
      height: 388px;

      @include on-tablet {
        height: 223px;
      }
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-self: center;

    @include on-tablet {
      flex-direction: row;
      gap: 24px;
      align-self: end;
    }

    @include on-desktop {
      align-self: stretch;
      justify-content: space-between;
    }
  }
}

.contact-form-questions {
  padding-block: 40px;
  border-bottom: 1px solid $gray-60-color;

  &__header {
    display: flex;
    justify-content: space-between;
    gap: 60px;
  }

  &__title {
    &--open {
      margin-bottom: 48px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    border: 1px solid $gray-60-color;
    margin-bottom: 40px;
  }
}

.contact-form-item {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 32px 24px;

  @include on-tablet {
    flex-direction: row;
    justify-content: stretch;
    gap: 24px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: $gray-40-color;

    @include on-tablet {
      border-right: 1px solid $gray-60-color;
      flex: 1 1 auto;
      padding-right: 8px;
    }
  }

  &__message {
    padding-bottom: 16px;
    color: $gray-60-color;
    border-bottom: 1px solid $gray-60-color;

    @include on-tablet {
      border-bottom: none;
    }
  }

  &__delete {
    align-self: center;

    @include on-tablet {
      flex: 0 0 158px;
    }
  }
}
