@import '../../styles/utils/';

.contact-us-bottom {
  padding-top: 104px;
  padding-bottom: 40px;
  max-width: 1400px;
  margin: 0 auto;

  @include content-padding-inline;

  &__contact-button {
		
    margin: 0 auto;

    @include on-tablet {
      margin: 0 0 0 auto;
    }
  }
}
