$main-font-family: 'Inter', 'Arial', sans-serif;
$second-font-family: 'Onest', 'Arial', sans-serif;
$third-font-family: 'Thunder-LC', 'Arial', sans-serif;
$main-text-color: #bbdbfa;
$second-text-color: #af0505;
$primary-inactivate: #708396;
// $light-text-color: #d9d9d9;
// $icons-color: #b4bdc3;
// $elements-color: #e2e6e9;
$bg-color: #fafbfc;
$white-color: #fff;
$black-color: #000;
$gray-90-color: #1f1f22;
$gray-80-color: #495057;
$gray-70-color: #868e96;
$gray-60-color: #adb5bd;
$gray-40-color: #dcdee3;
$gray-20-color: #f5f5f5;
$gray-0-color: #f8fcff;
$blue-color: #216cff;
$green-color: #27ae60;
$error-color: #ff644e;
// $red-color: #eb5757;
$transition-duration: 0.3s;
$tablet-min-width: 640px;
$desktop-min-width: 1200px;
$dark-bg-color: #11355a;
