$main-font-family: 'Inter', 'Arial', sans-serif;
$second-font-family: 'Onest', 'Arial', sans-serif;
$third-font-family: 'Thunder-LC', 'Arial', sans-serif;
$main-text-color: #bbdbfa;
$second-text-color: #af0505;
// $light-text-color: #d9d9d9;
// $icons-color: #b4bdc3;
// $elements-color: #e2e6e9;
$bg-color: #fafbfc;
$white-color: #fff;
$gray-color: #1f1f22;
$blue-color: #216cff;
$green-color: #27ae60;
$red-color: #af0505;
// $red-color: #eb5757;
$transition-duration: 0.3s;
$tablet-min-width: 640px;
$desktop-min-width: 1200px;
$dark-bg-color: #11355a;
