@import '../../styles/utils';

.header {
  position: sticky;
  min-width: 320px;
  color: $main-text-color;
  background-color: $black-color;

  &__container {
    @include content-padding-inline;

    position: relative;
    padding-block: 16px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;

    @include on-desktop {
      padding-block: 24px;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    @include on-tablet {
      max-width: 90px;
    }
  }

  &__menu {
    cursor: pointer;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    padding: 0;
    z-index: 11;
    &::before {
      position: absolute;
      content: '';
      background: url('../../../public/images/icons/menu.svg') no-repeat;
      width: 22px;
      height: 16px;
    }

    &--is-active {
      &::before {
        background: none;
      }
    }

    @include on-tablet {
      display: none;
    }

    &:hover {
      &::before {
        color: $second-text-color;
      }
    }
  }

  &__navigation {
    display: none;

    @include on-tablet {
      display: block;
      flex: 1 1 auto;
    }

    &--burger {
      display: block;
    }
  }

  &__navigation-list {
    @include on-tablet {
      display: flex;
      gap: 16px;
      align-items: center;
    }

    @include on-desktop {
      gap: 32px;
    }

    &--burger {
      display: flex;
      flex-direction: column;
      gap: 40px;
      align-items: center;
      opacity: 1;
    }
  }

  &__language-drop-down {
    position: relative;
    cursor: pointer;
  }

  &__burger {
    display: none;
    position: absolute;
    padding-top: 48px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(31, 31, 34, 0.7);
    opacity: 0;
    animation: burger 1s linear 0s 1 normal forwards;
    z-index: 10;

    @keyframes burger {
      100% {
        opacity: 1;
      }
    }

    &--visible {
      display: block;
    }
  }

  &__language-and-profile {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__profile {
    position: relative;
    width: 24px;
    height: 24px;

    @include hover(opacity, 0.5);

    &::before {
      position: absolute;
      display: block;
      content: '';
      background: url('../../../public/images/icons/profile.svg') no-repeat;
      width: 24px;
      height: 28px;
    }
  }
}

.menu-link {
  position: relative;
  display: inline-block;
  font-family: $main-font-family;
  font-weight: 400;
  letter-spacing: 1px;
  color: $main-text-color;
  height: 19px;
  overflow: hidden;

  @include on-desktop {
    font-size: 18px;
    height: 24px;
  }

  &__slider {
    transition: transform 0.3s ease 0s;
    &:hover {
      transform: translateY(-50%);
      transition: transform 0.3s ease 0s;
    }

    &--active {
      transform: translateY(-50%);
    }
  }

  &__passive {
    opacity: 0.7;
  }

  &__active {
    opacity: 1;
  }

  @include hover(color, $main-text-color);

  &:hover {
    &::after {
      width: 100%;
    }
  }
}

.menu-link--active .menu-link__slider {
  transform: translateY(-50%);
}

.language-drop-down {
  &__control-box {
    display: flex;
    gap: 12px;
    align-items: center;
    font-size: 14px;

    @include on-desktop {
      font-size: 20px;
    }

    @include hover(opacity, 0.5);
  }

  &__trigger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      position: absolute;
      content: '';
      background: url('../../../public/images/icons/arrow-down.svg') no-repeat;
      width: 18px;
      height: 18px;
      transition: all 0.3s ease 0s;
    }

    &--rotate-arrow::before {
      transform: rotate(180deg);
    }
  }

  &__content {
    display: none;
    opacity: 0;
    position: absolute;
    transition: all 0.3s;
    &--visible {
      display: block;
      opacity: 1;
      transition: all 0.3s;
    }

    @include on-desktop {
      font-size: 20px;
    }
  }

  &__item {
    cursor: pointer;
    transition: all 0.3s;

    @include hover(opacity, 0.5);

    &--disabled {
      opacity: 0.5;
    }
  }
}

.language-button {
  &:hover {
    cursor: pointer;
  }

  &--disabled {
    &:hover {
      cursor: auto;
    }
  }
}
