@import '../../styles/utils/';

.gallery {
  &__container {
    @include content-padding-inline;
    max-width: 1400px;
    margin: 0 auto;
  }

  &__title {
    padding-top: 86px;
    padding-bottom: 40px;

    @include on-tablet {
      padding-top: 80px;
    }
  }

  &__contact-button {
    display: block;
    margin: 0 auto;
    margin-bottom: 53px;

    @include on-tablet {
      margin-right: 0;
    }
  }

  &__contact-button {
    display: block;
    margin: 0 auto;

    @include on-tablet {
      margin-right: 0;
    }
  }
}

.slider {
  border-top: 1px solid $gray-60-color;
  border-bottom: 1px solid $gray-60-color;
  padding-block: 54px;

  &__container {
    @include content-padding-inline;
    max-width: 1400px;
    margin: 0 auto;
  }
}
