@import '../../styles/utils';

.login {
  background: url('../../../public/images/decor/login-background-image.png')
    center / cover no-repeat;
  padding-block: 80px 198px;

  @include content-padding-inline;

  &__title {
    margin-bottom: 112px;

    @include on-tablet {
      margin-bottom: 80px;
    }

    @include on-desktop {
      margin-bottom: 40px;
    }
  }

  &__container {
    max-width: 543px;
    margin: 0 auto;
    max-width: 716px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    color: $gray-40-color;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 32px 24px;

    @include on-desktop {
      flex-direction: row;
      justify-content: stretch;
      max-width: 1400px;
      padding: 80px 40px;
    }
  }

  &__header {
    @include on-desktop {
      flex: 1 1 50%;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 48px;

    @include on-desktop {
      flex: 1 1 50%;
    }
  }

  // &__socials {
  //   display: flex;
  //   flex-direction: column;
  //   gap: 16px;
  // }

  &__google {
    display: flex;

    border-bottom: 1px solid $gray-60-color;
    padding-block: 16px;
    justify-items: center;
  }

  &__google-link {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 8px;
    margin: 0 auto;

    @include hover(opacity, 0.5);

    &:hover {
      color: $gray-40-color;
    }
  }

  &__google-icon {
    position: relative;
    width: 24px;
    height: 24px;
    &::before {
      background: url('../../../public/images/icons/google.svg') no-repeat;
      position: absolute;
      content: '';
      width: 24px;
      height: 24px;
    }
  }

  &__text {
    align-self: center;
  }

  &__email {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__input {
    padding: 16px;
    background-color: transparent;
    color: $gray-40-color;
    padding-block: 16px;
    border-bottom: 1px solid $gray-70-color;
    width: 100%;

    &::placeholder {
      color: $gray-70-color;
      font-size: 16px;
    }

    &--password {
      margin-bottom: 10px;
    }
  }

  &__label {
    position: relative;
    // margin-bottom: 10px;
  }

  &__registration-link {
    @include hover(color, $main-text-color);
  }

  &__button-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    align-self: center;
  }

  &__contact-button {
    margin-bottom: 10px;

    &--sign-up {
      align-self: center;
      margin-bottom: 0;

      &:hover {
        color: $main-text-color;
      }
    }
  }

  &__login-error {
    text-align: center;
    align-self: flex-end;
    font-size: 20px;
    width: 21px;
  }
}

.password-show-btn {
  position: absolute;
  display: inline-block;
  content: '';
  background: url('../../../public/images/icons/eye.svg') no-repeat;
  top: 13px;
  right: 16px;
  width: 24px;
  height: 24px;
  transition: background 0.3s;

  &--disabled {
    opacity: 0.6;
  }

  &--enabled {
    opacity: 1;
    cursor: pointer;
  }

  &--eye-off {
    background: url('../../../public/images/icons/eye-off.svg') no-repeat;
  }
}

.socials {
  &__item {
    font-size: 16px;
    border-bottom: 1px solid $gray-60-color;
    font-family: $second-font-family;
    color: $gray-40-color;
    padding-block: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
  }

  &__name {
    display: block;
    position: relative;
  }

  &__icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;

    &::before {
      position: absolute;
      content: '';
      width: 24px;
      height: 24px;
    }

    &--facebook {
      &::before {
        background: url('../../../public/images/icons/facebook.svg') no-repeat;
      }
    }

    &--google {
      &::before {
        background: url('../../../public/images/icons/google.svg') no-repeat;
      }
    }

    &--apple {
      &::before {
        background: url('../../../public/images/icons/apple.svg') no-repeat;
      }
    }
  }
}
