@import '../../styles/utils';

.modal-window {
  position: fixed;
  width: 100vw;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(31, 31, 34, 0.7);
  z-index: 50;

  &__container {
    position: absolute;
    z-index: 40;
    top: 5vh;
    left: 50%;
    border-radius: 12px;
    background-color: $black-color;
    border: 1px solid $main-text-color;
    padding: 24px;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 80%;
    min-width: 279px;
    max-width: 450px;
    overflow: auto;
    animation: modal-window 1s linear 0s 1 normal forwards;

    @include on-tablet {
      width: 500px;
      overflow: hidden;
    }

    @keyframes modal-window {
      0% {
        max-height: 0;
      }

      100% {
        max-height: 100%;
      }
    }
  }

  &__close {
    cursor: pointer;
    display: flex;
    position: relative;
    align-self: end;
    justify-content: center;
    width: 24px;
    height: 24px;

    &::before {
      position: absolute;
      content: '';
      background: url('../../../public/images/icons/close.svg') no-repeat;
      width: 100%;
      height: 100%;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    opacity: 0;
    width: 100%;
    min-width: 230px;

    animation: form 1s linear 1s 1 normal forwards;

    @keyframes form {
      100% {
        opacity: 1;
      }
    }
  }

  &__item {
    align-self: stretch;
  }

  &__title {
    font-size: 20px;
    color: $gray-20-color;
    align-self: center;
  }

  &__input {
    background-color: transparent;
    border-bottom: 1px solid $gray-70-color;
    padding: 16px;
    width: 100%;
    color: $gray-40-color;
    &::placeholder {
      color: $gray-70-color;

      @include on-desktop {
        font-size: 16px;
      }
    }

    &:focus {
      border-bottom: 1px solid $gray-40-color;
    }
  }

  // &__textarea-box {
	// 	align-self: stretch;
  //   margin-bottom: 19px;
  // }

  &__textarea {
    background-color: transparent;
    border-bottom: 1px solid $gray-70-color;
    padding: 16px;
    color: $gray-40-color;
    overflow: hidden;
    width: 100%;
    align-self: stretch;
    outline: none;
    display: block;
    min-width: 100%;
    resize: none;
    min-height: 56px;
    line-height: 150%;
    overflow: hidden;

    &::placeholder {
      color: $gray-70-color;

      @include on-desktop {
        font-size: 16px;
      }
    }

    &:focus {
      border-bottom: 1px solid $gray-40-color;
    }
  }

  &__contact-button {
    align-self: center;
    padding: 16px 66px;
		margin-top: 19px;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;

    opacity: 0;

    animation: form 1s linear 1s 1 normal forwards;

    @keyframes form {
      100% {
        opacity: 1;
      }
    }
  }

  &__text {
    color: $gray-60-color;
  }

  &__list {
    display: flex;
    color: $gray-40-color;
    gap: 16px;
  }

  &__link {
    @include hover(color, $main-text-color);
  }
}

.danger {
  border-bottom: 1px solid $error-color;
}

.error {
  color: $error-color;
}
