@import './styles/reset';
@import './styles/utils';
@import './styles/fonts';

.app {
  min-height: 100vh;
  font-family: $main-font-family;
  background-color: $black-color;
  display: flex;
  flex-direction: column;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Inter';
  position: relative;
  color: $main-text-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
}

.fixed {
  position: fixed;
  overflow: hidden;
  width: 100%;
}

main {
  flex: 1 1 auto;
}

@keyframes burger {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.contact-button {
  padding: 16px 32px;
  font-family: 'Inter';
  font-size: 24px;
  font-weight: 600;
  border: 1px solid $main-text-color;
  border-radius: 8px;
  color: $main-text-color;
  box-sizing: border-box;
  cursor: pointer;

	@include hover(outline, 3px solid $main-text-color);

  &--disabled {
		@include hover(outline, none);

    opacity: 0.5;
		cursor: auto;
  }
}

.links-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.small-title {
  font-family: $second-font-family;
  font-size: 24px;

  @include on-desktop {
    font-weight: 500;
  }
}

.big-title {
  font-family: $second-font-family;
  font-weight: 500;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;

  @include on-tablet {
    font-size: 44px;
  }

  @include on-desktop {
    font-size: 56px;
  }
}
